{% load static %}

<div class="contenedorPrincipalPlex">
		<h1 class="tituloBarraMenu">Medflow</h1>
		<div class="logoContainer">
			<img src="{% static 'img/young-female-dr.jpg' %}" class="doctorImage" alt="">
			<p class="nombreMedico">Bienvenida <span style="font-weight: bold;">Scarlett</span></p>
		</div>
		<input type="submit" class="botonAgregarPaciente" value="Agregar Paciente">
		<div class="scrollable">
			<nav class="navegacion">
			<a href="" class="option">Overview</a>
			<a href="" class="option">Actividad</a>
			<a href="" class="option">Pacientes</a>
			<a href="" class="option">Agenda</a>
			<a href="" class="option">Notas</a>
			<a href="" class="option">Caja</a>
			<a href="" class="option">Inventario</a>
			<a href="" class="option">Logistica</a>
			<a href="" class="option">Reportes</a>
			<a href="" class="option">Log out</a>
		</nav>
		</div>
	</div>