{% extends 'base_auth.html' %}
{% load static %}

{% block title %}Sign Up | Medflow{% endblock %}

{% block content %}
    <div class="box">
        <div class="loginArea">
            <header class="header">
                <h1 style="color: #008B95; letter-spacing: 1.5px;">MEDFLOW</h1>
            </header>
            <h1 class="headerSignUp">Sign Up</h1>
            {% include 'partials/_messages.html' %}
              <form action="{% url 'register' %}" method="POST">
                  {% csrf_token %}
                <div class="inputBox">
                  <input type="text" name="username" value="{{field_values.username}}" required="" id="usernameField">
                  <label>Username</label>
                </div>
                  <div class="invalid-feedback invalid_feedback" style="display: none;"></div>
                  <p class="text-sm text-success usernameSuccess"></p>

                <div class="inputBox">
                    <input type="email" name="email" value="{{field_values.email}}" required="" id="emailField">
                    <label>Email</label>
                </div>
                  <div class="invalid-feedback emailFeedbackArea" style="display: none;"></div>
                  <p class="text-sm text-success emailSuccess"></p>

                <div class="inputBox">
                  <input type="password" name="password" required="" id="passwordField">
                  <label>Password</label>
                </div>
                  <div class="invalid-feedback passwordFeedbackArea" style="display: none;"></div>
                  <p class="text-sm text-success passwordSuccess"></p>

                <div class="inputBox">
                  <input type="password" name="password2" required="" id="passwordField2">
                  <label>Confirm password</label>
                </div>
                  <small class="showPasswordToggle" style="float:right; padding-bottom:1em; cursor: pointer;">SHOW</small>
                <input class="customButton submit-btn" type="submit" name="" value="Submit">
              </form>
              <div class="loginFooter">
                <p>Already have an account?</p>
                <a href="{% url 'login' %}">Log in</a>
            </div>
        </div>
        <div class="sliderArea">
            <img src="{% static 'img/bg_2.jpg' %}" style="width: auto; height: 100%;" alt="">
        </div>
    </div>

<script src="{% static 'js/register.js' %}"></script>
{% endblock %}